$body-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
$primary: #5271FF;
$link: darken(#5271ff, 30%);
$link-hover: darken($link, 20%);
$link-active: darken($link, 20%);
$navbar-item-img-max-height: 2.2rem;