@font-face {
  font-family: "Montserrat";
  font-style: normal;
  src: url("/fonts/Montserrat-Regular/Montserrat-Regular.eot?#iefix") format("embedded-opentype"),
  url("/fonts/Montserrat-Regular/Montserrat-Regular.woff2") format("woff2"),
  url("/fonts/Montserrat-Regular/Montserrat-Regular.ttf") format("truetype"),
  url("/fonts/Montserrat-Regular/Montserrat-Regular.svg#Montserrat") format("svg");
  font-display: swap;
}