{{ $1x1 := .Resources.GetMatch "images/primary/1x1.png" }}
{{ $4x3 := .Resources.GetMatch "images/primary/4x3.png" }}
{{ $16x9 := .Resources.GetMatch "images/primary/16x9.png" }}

<script type="application/ld+json">
    {
        "@context": "https://schema.org",
        "@type": "BlogPosting",
        "name": {{ .Title }},
        "mainEntityOfPage": {{ .Permalink }},
        "headline": {{ .Title }},
        "image": [
            {{ $1x1.Permalink }},
            {{ $4x3.Permalink }},
            {{ $16x9.Permalink }}
        ],
        "description": {{ .Description }},
        "author": {
            "@type": "Person",
            "name": "John Doe"
        },
        "publisher": {
            "@type": "Organization",
            "name": "Acme Corp",
            "logo": {
                "@type": "ImageObject",
                "url": "https://www.acme-corp.com/images/amp-logo.png"
            }
        },
        "datePublished": {{ .PublishDate }},
        "dateModified": {{ .Lastmod }}
    }
</script>